<ff-alerts></ff-alerts>
<ngx-spinner></ngx-spinner>

<app-header></app-header>
<div class="container">
  <main>
      <section class="banners">
        <div>
          <img src="/assets/images/banner1.jpeg" alt="Apples in a bunch" />
        </div>
        <div>
          <img src="/assets/images/banner2.jpeg" alt="A bunch of berries" />
        </div>
        <div>
          <img src="/assets/images/banner3.jpeg" alt="Slushy oranges" />
        </div>
        <div>
          <img src="/assets/images/banner4.jpeg" alt="A diverse set of fruits" />
        </div>
      </section>
      <section class="product-area">
          <router-outlet></router-outlet>
      </section>
    </main>    
</div>
<app-footer></app-footer>