<div class="container" *ngIf="product$ | async as product">
    <section class="product-head">
        <h2>Product Detail</h2>

        <a [routerLink]="['/products']" routerLinkActive="router-link-active">Back To List</a>
    </section>

    <section class="product-details">
        <div class="left">
            <img class="product-img" src="https://via.placeholder.com/260x200?text=Product+Image"
                alt="{{product.blend_name}}">
        </div>

        <div class="right">
            <h3>{{product.blend_name}}</h3>
            <div class="details">
                <p>Notes:</p>
                <p>{{product.notes}}</p>
            </div>
            <div class="details">
                <p>Origin:</p>
                <p>{{product.origin}}</p>
            </div>
            <div class="details">
                <p>Variety:</p>
                <p>{{product.variety}}</p>
            </div>
            <div class="details">
                <p>Intensifier:</p>
                <p>{{product.intensifier}}</p>
            </div>
        </div>
    </section>
</div>